doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title QuickSpace
        link(rel="stylesheet", href="/css/home.css")
    body 
        header 
            .logo QuickSpace 
            nav 
                a(href="#features") Features 
                a(href="#pricing") Pricing 
                a(href="#contact") Contact 
            a.auth_button(href="/auth/login") Login
        .hero_section 
            .text_block 
                h1 QuickSpace 
                p.slogan The Future of Simplified Cloud Storage 
                a.call_to_action(href="/drive") Try For Free 
                p.subtext No credit card required