* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --ff-body: "Mv Boli", Corbel, Quicksand, sans-serif;

    --color-1: #000;
    --color-2: #fff;
    --color-3: #aaa;

    --size-100: .625rem;
    --size-200: .75rem;
    --size-300: 1rem;
    --size-400: 1.25rem;
    --size-500: 1.75rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-900: 4rem;

    --fs-100: .7rem;
    --fs-200: .8rem;
    --fs-300: 1rem;
    --fs-400: 1.2rem;
    --fs-600: 2rem;
    --fs-800: 4rem;
}

body {
    background-color: var(--color-1);
    color: var(--color-2);
    font-family: var(--ff-body);
}